@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 20px;
    color: rgb(82, 80, 80);
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0;
}

a{
    text-decoration: none;
}

#wrap{
    background-color: #949cf5;
    width: 100%;
    min-width: 1240px;
    padding-bottom: 30px;
}

.header{
    
    height: 80px;
    margin-bottom: 50px;
}

.headerIn{
    
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 80px;
}

.logo img{
    width: 100px;
    height: 80px;
}

.nav{
    position: absolute;
    top: 30px;
    right: 50px;
    
}

.nav a{
    color :#ddd;
    font-size: 18px;
    font-weight: 700;
}

.nav a{
    margin-left: 30px;
}

.nav-link :hover{
    color : #4f5bd9;
}

.util{
    position: absolute;
    right: 65px;
    top: 10px
}

.util ul{
    display: flex;
}

.util ul li{
    margin-left: 30px;
}

.util ul li a{
    color:  rgb(27, 27, 27);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.util ul li a:hover{
    color : #4f5bd9;
}

#section{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#section h2{
    width: 585px;
    margin: 0 auto;
    text-align: left;
    font-weight: 600;
    margin-bottom: 20px;
}

.postbody{
    
    width: 800px;
    height: 500px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
}

.postbody table{
    margin-left: 70px;
}

.postbody table tr{
    width: 500px;
    height: 30px;
}

.write-postbox{
    width: 97px;
}

.form-select{
    height: 33.5px;   
}

.post-title{
    position: absolute;
    width: 500px;
    top: 30px;
    left: 230px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.post-title textarea{
    width: 470px;
    height: 33.5px;
    line-height: 30px;
    resize: none;
}

#post-write{
    width: 600px;
    margin: 0 auto;
    
}

#post-write{
    width: 600px;
    height: 300px;
    margin: 0 auto;
}

#post-write textarea{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    resize: none;
}

.join_btn{
    position: absolute;
    width: 600px;
    margin: 0 auto;
    text-align: right;
    right: 100px;
    bottom: 30px;
}

.join_btn input{
    margin-left: 20px;
    height: 35px;
}

/* .join_btn button{
    width: 100px;
    height: 25px;
    background-color: #949cf5;
    margin: 0 20px;
    border-radius: 5px;
} */

#footer{
    width: 1200px;
    margin: 0 auto;
}

#footer a{
    text-decoration: none;
}

.footer-notice{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.footer-notice h5{
    
    color: #444;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 3px solid #949cf5;
}

.footerbox{
    background-color: #bec2eb;
    width: 850px;
    height: 280px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.footerbox dt{
    color: #444;
    font-size: 15px;
    font-weight: 600;
}

.footerbox dd{
    font-size: 13px;
    font-weight: 500;
}

.footerbox dd a{
    color: #555;
}

.footerbox dd a:hover{
    color:#7880d6
}

.footerbox .index{
    
    width: 200px;
    position: absolute;
    top: 60px;
    left: 20px;
    color: #222;
    padding: 5px;
    border-right: 2px solid #949cf5;
}

.footerbox dt, dd{
    margin-bottom: 20px;
}

.footerbox .index2{
    
    width: 200px;
    position: absolute;
    top: 60px;
    left: 240px;
    color: #222;
    padding: 5px;
    border-right: 2px solid #949cf5;
}

.footerbox .index3{
    
    width: 200px;
    position: absolute;
    top: 60px;
    left: 460px;
    color: #222;
    padding: 5px;
    border-right: 2px solid #949cf5;
}

.footerbox .index4{
    
    width: 200px;
    position: absolute;
    top: 60px;
    left: 680px;
    color: #222;
    padding: 5px;

}
#footer .footerInfo{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
}

#footer .footerInfo ul{
    display: flex;
    justify-content: space-between;
}

#footer .footerInfo ul li{
    color: #444;
    font-size: 11px;
}

#footer .footerInfo ul li a{
    color: #444;
}

#footer .footerInfo ul li a:hover{
    color: #e1e3ff;
}

#footer .copyright{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}